<div class="home-content">
  <div  *ngIf="isLogged()" class="new-post-box">
  <img src="{{getLoggedProfilePictureUrl()}}" alt="" class="profile-picture-post">
  <input type="text" (click)="toggleNewPostModal()"  placeholder="Crear nueva publicacion" >
  </div>
  <app-post *ngFor="let post of posts" [post]="post" class="post-bock"></app-post>
  <div *ngIf="newPostModal" class="modal-popup">
    <textarea class="comment-input" wrap="hard"  placeholder="Crear nueva publicacion" [(ngModel)]="newPostText" #newPostInput></textarea>
    <input type="text" placeholder="Image URL" [(ngModel)]="newPostImg">
    <div>
    <button (click)="toggleNewPostModal()">Cancel</button>
    <button (click)="addNewPost()">Submit!</button>
    </div>
  </div>
</div>